.add-task-body {
  margin: 7px;
  padding: 10px 24px;
  border-radius: 5px;
  border: 2px solid rgba(var(--base-color-gray-2, 1));
  background-color: rgb(var(--base-color-white));
}

.header-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 20px;
}

.exit {
  background-image: url(../../../libs/ui/assets//svg/cancel-black.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;
  float: left;
  margin-top: -32px;
  margin-left: -44px;
  cursor: pointer;
  padding: 11px 3px;
}

.body-row {
  color: rgba(var(--base-color-gray-3));
  font-weight: lighter;
  margin: 0px 7px;
}

.add-task-button {
  width: 100%;
  display: flex;
  margin-bottom: 3px;
  flex-direction: column;
  align-items: flex-end;
}
