.task-details-body {
  margin: 7px;
  padding: 10px 24px;
  border-radius: 5px;
  border: 2px solid rgba(var(--base-color-gray-2, 1));
  background-color: rgb(var(--base-color-white));
}

.space-row {
  display: grid;
  grid-template-columns: 13% 87%;
}

.body-row .left {
  color: rgba(var(--base-color-gray-3));
}

.body-row > div {
  font-weight: lighter;
}

.body-row .right {
  font-weight: bold;
}

.exit {
  background-image: url(../../../libs/ui/assets//svg/cancel-black.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;
  float: left;
  margin-top: -32px;
  margin-left: -44px;
  cursor: pointer;
  padding: 11px 3px;
}

.task-status {
  display: flex;
  margin: 7px 0px 7px 7px;
  flex-direction: column;
  align-items: flex-end;
}
